Output/*
*/bin/*
*/obj/*
src/*/obj/*
src/*/bin/*
lib/*
Release/*
packages/*
*/NuGet.exe
*\.suo
*\.user
*\.cache
*\.resources
TestResult.xml
.vs/
*.Designer.cs
src/portable/*/Assets
src/portable/*/bin/
src/portable/*/obj
src/portable/*/fonts
src/portable/*/Scripts
src/portable/*/Content
src/portable/*/bower*
src/portable/*/Firefox
