Output/*
*/bin/*
*/obj/*
src/*/obj/*
src/*/bin/*
lib/*
Release/*
packages/*
*/NuGet.exe
*\.suo
*\.user
*\.cache
*\.resources
TestResult.xml
.vs/
BuildStep.exe
installer/Application.wxs
src/portable/*/Assets
src/portable/*/bin/
src/portable/*/obj
src/portable/*/fonts
src/portable/*/Scripts
src/portable/*/Content
src/portable/*/bower*
src/portable/*/Firefox
src/portable/ReactUi/react/public/api
src/portable/ReactUi/react/public/localization