@import "../../_variables.sass"

.IconButtonField
    width: 98%
    margin-top: 14px
    margin-bottom: 14px
    left: 10%
    height: 48px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    border: 1px solid transparent
    margin: auto
    .Caption
        display: flex
        justify-content: center
        align-items: center
        width: 128px
        height: 48px
        left: calc(50% - 128px/2 + 32px)
        font-family: $sans
        font-style: normal
        font-weight: 500
        line-height: normal
        font-size: 14px
        letter-spacing: 0.75px
        text-transform: uppercase
        color: $base2
        display: flex
        justify-content: left
        margin: auto
    .CaptionImage
        margin: auto
    .Reverse
        transform: scale(-1)

.DefaultBgColor
    background: $cyan3
    
.IconButtonField:hover
    background: $cyan3
    border: 1px solid $cyan2

.Hidden
    visibility: hidden
 


    