@import "../../_variables.sass"

.TextBoxUx 
	width: 200px
	height: 20px
	font-family: 'Noto Sans'
	font-style: normal
	font-size: 14px
	line-height: 16px
	text-align: Left
	color: $litUpText
	background-color: transparent
	border: 1px solid $black
	border-radius: 4px
	&-read-only 
		width: 200px
		height: 20px
		font-family: 'Noto Sans'
		font-style: normal
		font-size: 14px
		line-height: 16px
		text-align: Left
		background-color: transparent
		border: 1px solid $black
		border-radius: 4px
		color: $smallLabel
	
	.xMark 
		color: red
	

.TextBoxUxRed 
	width: 200px
	height: 20px
	font-family: 'Noto Sans'
	font-style: normal
	font-size: 14px
	line-height: 16px
	text-align: Left
	color: $litUpText
	background-color: transparent
	border: 1px solid red
	border-radius: 4px

