.TextBoxUx{
    width:200px;
    height:20px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: Left;
    color:#EEE8D5;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 4px;
}

.TextBoxUx-read-only {
    width:200px;
    height:20px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: Left;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 4px;
    color: #716969;
}

.TextBoxUxRed {
    width:200px;
    height:20px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: Left;
    color:#EEE8D5;
    background-color: transparent;
    border: 1px solid red;
    border-radius: 4px;

}

.TextBoxUx .xMark{
    color:red;
}