@import "../_variables.sass"

.AvatarEdit
	display: flex
	flex-direction: row
	.content
		display: flex
		flex-direction: row
		margin: 80px
		flex: 1 0 auto
		.leftContent
			flex-direction: column
		.rightContent
			padding-left: 5%
			justify-content: space-around
			flex-direction: column
			div
				margin: 25px
	img 
		width: 64px
		height: 64px

input
	color: $base1
	font-family: $sans
	font-style: normal
	font-size: 12px
	line-height: 16px
	letter-spacing: 15%
