.ControlPane {
    background-color: #F5CC4C;
    height: 80px;
    display:flex;
    flex-direction: row;
    align-items: stretch;
}

.ControlPane .circle{
    height: 68px;
    width: 68px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.5);
    margin-top: 7px;
}


.ControlPane .Spacer {
    flex: 1 0 0;
}

.ControlPane a {
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}

.ControlPane *:link {
    color: inherit;
}