$var1: #FDF6E3

.EditorPane 
	background-color: $var1
	flex: 1 0 auto
	display: flex
	align-items: stretch
	flex-direction: column
	height: 100%
	textarea 
		flex: 1 0 auto
		overflow-y: auto
		height: 100%
		color: rgba(0, 0, 0, 0.65)
		background-color: $var1
		margin-left: 17%
		margin-right: 17%
		margin-top: 5%
		border: none
	


