@import "../_variables.sass"

.NavPanel 
	width: 208px
	display: flex
	flex-direction: column
	align-items: center
	flex-direction:row
	display: flex
	text-overflow: ellipsis
	overflow: hidden
	overflow-y: auto
	a 
		text-decoration: none

	.TodoStyle
		width: 99%
		padding-bottom: 48px

	.OptionsStyle
		width: 99%

	.LogoutStyle
		width: 99%
		padding: 48px 0