.ProgressPane {
    background-color: #CCCCCA;
    height: 80px;
    display:flex;
}

.ProgressPane * {
    width: 100%;
    align-self: left;
    margin: 20px;
}


.ProgressPane .progressBar{
    width: 100%;
}

.ProgressPane .timeMarker{
    width: 10%;
    align-self: right;
}

.ProgressPane .RealPlayer{
    display: none;
}

.ProgressPane progress[value]::-moz-progress-bar { 
    background-color:#C8DE0E;
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%; 
  }