.ProgressPane {
    background-color: #CCCCCA;
    height: 80px;
    display:flex;
}

.ProgressPane > * {
    margin: 20px;
    align-self: center;
}

.ProgressPane .progress {
    flex: 1 0 auto;
}

.ProgressPane .progressBar {
    width: 100%;
}


.ProgressPane .timeMarker{
    flex: 0 0 auto;
    align-self: right;
}

.ProgressPane .RealPlayer{
    display: none;
}

.ProgressPane progress[value]::-moz-progress-bar { 
    background-color:#C8DE0E;
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%; 
  }