.SelectProject {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    left: 50%;
    overflow-x: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    width: 100%;
    z-index: 1;
}

body{
      background-color: #002B36;
}

.SelectProject .list-group-item {
    display: inline-flex;
    background-color: #002B36;
    border: none;
}

.SelectProject ul {
    list-style-type: none;
}

.SelectProject a {
    text-decoration: none;
    background-color: #002B36;

}
