@import "../_variables.sass"

.TaskList
	display: flex
	flex-direction: column
	overflow-x: visible

	.title
		display: flex
		flex-direction: row

	.LabelCaptionUx
		align-self: flex-start

	.SortFilterStyle
		display: flex
		justify-content: flex-end
		flex-direction: row
		flex: 1 0 auto
		padding-right: 8px

	.Buttons
		display: flex
		justify-content: flex-end
		flex-direction: row
		flex: 1 0 auto
		padding-right: 8px
		&>*
			margin-left: 16px

	.TaskItem .unselected
		visibility: visible
	ul
		list-style-type: none
		column-count: 2

body
	background-color: $navBG

