.TaskPanel {
    background-color: #073642;
    width: 384px;
    height: 100%;
    padding: 16px 0px;
    overflow-y: auto;
    box-shadow: 2px 4px 8px rgba(0,0,0, 0.35);
    z-index: 2;
}

.TaskPanel .AssignedRow {
    flex-direction: row;
    display: flex;
}

.TaskPanel .AvailableRow {
    flex-direction: row;
    display: flex;
}

.TaskPanel .SectionHead {
    font-family: Roboto, sans-serif;
    font-weight: medium;
    font-size: 20px;
    text-align: Center;
    letter-spacing: 15%;
    color: #93A1A1;
    margin: 0px;
    padding-top: 24px;
}

.TaskPanel .ListHead {
    font-family: Roboto, sans-serif;
    font-weight: medium;
    font-size: 10px;
    text-align: Left;
    letter-spacing: 15%;
    color: #93A1A1;
    margin-top: 0;
    margin-bottom: 14px;
    padding: 0px 24px;
}

.TaskPanel .selectBar {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-bottom: 20px;
    width: 8px;
    background-color: #F5CC4C;
}

.TaskPanel .placeHolder {
    width: 24px;
}