.BackLink {
    color: rgba(202, 208, 212, 0.5);
    font-size: 28pt;
    text-align: center;
    width: 100px;
}

.BackLink *::before {
    color: rgba(202, 208, 212, 0.5);
}

.BackLink a {
    text-decoration: none;
    color: rgba(202, 208, 212, 0.5);
}

.BackLink a:hover{
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:    0px 0px 30px 0px #FFF;
    box-shadow:         0px 0px 30px 0px #FFF;
  }