@import "../../_variables.sass"

.ButtonLink 
	display: flex
	font-family: $sans
	font-size: 14px
	line-height: 16px
	letter-spacing: 0.75px
	height: 36px
	min-width: 86px
	border-radius: 4px
	text-decoration: none
	&:hover
		-moz-border-radius: 4px
		border-radius: 4px
		-moz-box-shadow: 0px 0px 30px 0px $white
		box-shadow: 0px 0px 30px 0px $white
	button
		text-decoration: none
	a
		text-decoration: none
	.safe
		flex: 1 0 auto
		background-color: $blue
		color: $base3
		border-radius: 4px
	.primary
		flex: 1 0 auto
		background-color: $yellowLight
		color: $base03
		border-radius: 4px
	.danger
		flex: 1 0 auto
		background-color: $red
		color: $base3
		border-radius: 4px
	.outline-dark
		flex: 1 0 auto
		background-color: transparent
		border: 1px solid $base03
		color: $base03
		border-radius: 4px
	.outline-light
		flex: 1 0 auto
		background-color: transparent
		border: 1px solid $base3
		color: $base3
		border-radius: 4px
	.text-dark
		flex: 1 0 auto
		background-color: transparent
		color: $base03
		border: none
	.text-light
		flex: 1 0 auto
		background-color: transparent
		color: $base3
		border: none
