$var1: #ffffff
$var2: #286090
$var3: #337ab7

.NextAction 
	display: flex
	align-items: center
	margin: 10px
	.btn-primary:hover 
		color: $var1
		background-color: $var2
	
	.btn-primary 
		color: $var1
		background-color: $var3
		border: 1px solid transparent
		border-radius: 3px
		font-weight: 400
		font-size: 12px
		line-height: 1.5
		margin: 0
		padding: 5px 10px
		text-align: center
		vertical-align: middle
	

