.RevertAction {
    display: flex;
    align-items: center;
    margin: 10px;
}

.RevertAction .btn-primary:hover {
    color: #fff;
    background-color: #286090;
}

.RevertAction .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border: 1px solid transparent;
    border-radius: 3px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
}

.RevertAction .unselected {
    display: none;
}