.TaskItem {
    width: 332px;
    min-height: 50px;
    background-color: #595555;
    margin: 5px;
    display:flex;
    flex-direction: column;
}

.TaskItem .unselected {
    width: 320px;
    min-height: 50px;
    background-color: #2AA198;
    border-color: #2AA198;
}

.TaskItem .unselected:hover {
    background-color: #35857D;
    border-color: #35857D;
}

.TaskItem .selected {
    width: 320px;
    min-height: 50px;
    background-color: #F5CC4C;
    border-color: #F5CC4C;
}

.TaskItem .selected:hover {
    background-color: rgb(240,184,13);
    border-color: rgb(240,184,13);
}