.TaskItem {
    width: 336px;
    height: 50px;
    background: no-repeat url("/assets/waveform.png");
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

.TaskItem .taskItemContent {
    margin: 0px 8px;
}

.TaskItem .unselected {
    color: transparent;
    background-color: transparent;
    border: none;
}

.TaskItem .unselected:hover {
    flex: 1 0 auto;
    color: #93A1A1 !important;
    display: flex;
    flex-direction: column-reverse;
    font-size: 12px;
}

.TaskItem .selected {
    flex: 1 0 auto;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column-reverse;
    font-size: 12px;
    color: #93A1A1;
    mix-blend-mode: lighten;
}

.TaskItem .selected:hover {
    flex: 1 0 auto;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column-reverse;
    font-size: 12px;
    color: #93A1A1;
    mix-blend-mode: lighten;
}

.TaskItem .textName {
    flex: 1 0 auto;
}

.TaskItem .firstLine {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

.TaskItem .unselected .displayReference {
    flex: 1 0 auto;
    color: transparent;
}

.TaskItem .unselected .displayReference:hover {
    flex: 1 0 auto;
    color: white;
}

.TaskItem .selected .displayReference {
    flex: 1 0 auto;
    color: white;
}
.TaskItem .selected .displayReference:hover {
    flex: 1 0 auto;
    color: white;
}