<?xml version="1.0" encoding="utf-8"?>
<?define Product="SIL Transcriber"?>
<?define UpgradeCode="5B73C2DB-296F-416A-9C5B-9989D826EAE8"?>
<?define BUILD_NUMBER="0.3.7"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="$(var.Product) $(var.BUILD_NUMBER)" Language="1033" Version="$(var.BUILD_NUMBER)" Manufacturer="SIL International" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="$(var.BUILD_NUMBER)" OnlyDetect="yes" Property="NEWVERSIONDETECTED" />
      <UpgradeVersion Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.BUILD_NUMBER)" IncludeMaximum="no" OnlyDetect="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>
    <!--
		"from the list: Don't use Advertise="yes" Advertised shortcuts are designed to allow
		users to install just the shortcut for your app, then demand-install the
		rest of the app the first time the icon is run.  If this is not behavior you
		are trying to support, you're better off using non-advertised shortcuts. "
		-->
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="Transcriber requires .NET Framework 4.6.1 or later.  You need to install Microsoft's free .NET Framework then run this installer again."><![CDATA[Installed OR (NETFRAMEWORK45 >= "#394254")]]></Condition>
    <Media Id="1" Cabinet="transcriber.cab" EmbedCab="yes" CompressionLevel="high" />
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />
    <Feature Id="ProgramFiles" Level="1" Absent="disallow" Title="Program Files">
      <ComponentGroupRef Id="Application" />
    </Feature>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="ProgramMenuFolder" SourceName="Programs">
        <Directory Id="TranscriberMenu" Name="Transcriber $(var.BUILD_NUMBER)">
          <Component Id="AddShortcutApp" Guid="CA8CC61B-3398-4B9C-887A-B02EDD43C203">
            <Shortcut Id="ShortcutApp" Name="SIL Transcriber" Target="[!transcribe.windows.exe]" Hotkey="0" IconIndex="0" Show="normal" WorkingDirectory="APPLICATIONFOLDER" />
            <Shortcut Id="desktopShortcutApp" Directory="DesktopFolder" Name="SIL Transcriber" Target="[!transcribe.windows.exe]" IconIndex="0" WorkingDirectory="APPLICATIONFOLDER" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\SIL\Transcriber" Name="TranscriberDir" Type="string" Value="[APPLICATIONFOLDER]" />
          </Component>
          <Component Id="AddLicenseShortcut" Guid="AEAF5267-DC44-4608-8A4E-8F50126DFFDE">
            <Shortcut Id="ShortcutLicense" Name="License" Target="[!license.rtf]" Hotkey="0" IconIndex="0" Show="normal" />
            <RegistryValue Root="HKCU" Key="Software\SIL\Transcriber" Name="License" Type="string" Value="[!license.rtf]" />
          </Component>
          <Component Id="AddHelpShortcut" Guid="B0171D11-8BC9-4A4E-8CC2-384A3FC4B377">
            <Shortcut Id="ShortcutHelp" Name="Help" Target="[!transcriber_helps.chm]" Hotkey="0" IconIndex="0" Show="normal" />
            <RegistryValue Root="HKCU" Key="Software\SIL\Transcriber" Name="Help" Type="string" Value="[!transcriber_helps.chm]" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Component Id="RegistryEntries" Guid="AF55F3D9-1F22-4EC6-A039-535B7A7B5F37" KeyPath="yes">
        <RegistryValue Root="HKLM" Key="Software\SIL\Transcriber" Name="TranscriberDir" Type="string" Value="[APPLICATIONFOLDER]" />
      </Component>
    </DirectoryRef>
    <Icon Id="transcribe.windows.exe" SourceFile="..\output\Release\Transcribe.Windows.exe" />
    <Property Id="ARPPRODUCTICON" Value="transcribe.windows.exe" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <!-- WixVariable Id="WixUIDialogBmp" Value="bannrbmp.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="dlgbmp.bmp" / -->
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
      <RegisterFonts />
      <!--We need the condition here so that we only launch the executable when we make an installation but not when we remove the product-->
    </InstallExecuteSequence>
  </Product>
</Wix>